<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>谢谢您来了</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="drew"></div>
<div id="text">
    <span>I WANT TO JOIN YOU</span>
</div>

</body>
<script src="/node_modules/underscore/underscore.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/js/index.js"></script>
</html>